<div class="container">

  <h4>Log In to Your Account</h4>

  <%= form_for(:session, url: login_path) do |f| %>
  <br><br>
    <%= f.label :email %>
    <%= f.text_field :email %>
  <br><br>
    <%= f.label :password %>
    <%= f.password_field :password %>
  <br><br>
    <%= f.submit "Log In to Account", class: "login" %>

  <% end %>
</div>
