<div class="container">
  <h4> <%= @recipe.name %> </h4>
  <strong>servings: </strong><%= @recipe.servings %><br>
  <strong>prep_time: </strong><%= @recipe.prep_time %><br>
  <strong>cook_time: </strong><%= @recipe.cook_time %><br>
  <br>
  <br>
  <h5>ingredients</h5>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
    <li>ingredient</li>
    <% end %>
  </ul>
  <br>
  <br>

  <h5>instructions</h5>
  <%= @recipe.instructions %>
  <br>
  <br>

  <strong>Categories</strong><br>
  <% @recipe.categories.each do |category| %>
    <div class="chip"><%=category.name%></div>
  <% end %>
</div>

